* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif, Geneva, Tahoma, sans-serif;
}

#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
   
}


#sctPuntosDeRetiro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}




#sctPuntosDeRetiro form {
    align-items: center;
    display: flex;
    flex-direction: column;
    align-self: center;
  
}



#sctPuntosDeRetiro form label {
    width: 230px;
    display: inline-block;
    margin: 15px;
    font-size: 20px;
    color: #b34a12;
    position: relative;
    right: 30px;
}

#sctPuntosDeRetiro form input {
    height: 50px;
    width: 300px;
    background-color: #fefbe2;
<<<<<<< HEAD
=======
    border-left: none;
    border-right: none;
    border-top: none;
    
>>>>>>> 85ee20a5aae3d13d155800b1921bec8146440e1e
}

#sctPuntosDeRetiro form select {
    background-color: #fefbe2;
    height: 50px;
    width: 300px;
}

#logoInicioSesion {
    width: 600px;
    height: 450px;
    position: relative;
    bottom: 50px;
}

#sctPuntosDeRetiro h1 {
    border-bottom: 1px solid black;
    font-weight: bold;
    font-size: 30px;
    color: #b34a12;
    margin-top: 100px;
    margin-bottom: 50px;
}

#imgUsuario {
    width: 180px;
    height: 150px;
    margin-bottom: 20px;
}

.btnInicioSesion {
    background-color: #b34a12;
    color: white;
    margin-top: 20px;
    width: 130px;
    height: 30px;
    margin-bottom: 20px;
}

.btnInicioSesion:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.inputError {
    border: 4px solid #B33771;
}

p {
    border-top: 1px;
    font-size: 13px;
}

.breadCrums {
    height: 50px;
    width: 100px;
    padding: 10px;
    margin: 20px;
    position: relative;
    bottom: 65px;
    right: 65px;
    font-size: 20px;
    cursor: pointer;
}

.breadCrums {
    background-color: #c93117;
    border-bottom: 3px solid #1e555d;
    transition: all 400ms ease-out;
    color: white;
}

.breadCrums:hover {
    background: #1e555d;
}

.breadCrumbs {
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: 120px;
    top: 80px;
}

.botonBorde {
    border-bottom: 2px solid black;
}