body {
    font-family: Verdana, Geneva, Tahoma, sans-serif, Geneva, Tahoma, sans-serif;
}

.cont-titulo {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    bottom: 100px;
    left: 60px;
}

.cont-titulo h1 {
    color: #b34a12;
    position: relative;
    left: 700px;
    top: 45px;
}

#sct-PuntosLibroFan {
    display: flex;
    flex-direction: row;
}

#sct-izquierda {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
}

#sct-derecha {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
}

#sct-PuntosLibroFan h1 {
    color: #b34a12;
}

.cont-general {
    display: flex;
    flex: row;
    margin-top: 30px;
    margin-left: 150px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.cont-infoIzquierda {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding-top: 50px;
    padding-left: 110px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    width: 100px;
    height: 180px;
}

.cont-infoIzquierda h3 {
    position: relative;
    right: 50px;
}

.cont-infoDerecha {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 80px;
    width: 300px;
    height: 150px;
}

.cont-infoDerecha h1 {
    font-size: 25px;
}

.cont-infoDerecha h3 {
    font-size: 15px;
}

.subcont-infoDerecha {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 60px;
    border-left: 2px solid gray;
    padding-left: 20px;
}

.imgUsuarios {
    position: relative;
    bottom: 20px;
    right: 88px;
    width: 200px;
    height: 150px;
}

#sct-totales {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: row;
    height: 50px;
}

.cont-totales {
    position: relative;
    top: 40px;
    border-top: 2px solid black;
    text-align: center;
    margin-left: 30px;
}

.cont-totales2 {
    position: relative;
    top: 40px;
    text-align: center;
    margin-left: 30px;
}

.cont-general-totales {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 600px;
}

.btnModificar {
    position: relative;
    left: 600px;
    background-color: #b34a12;
    color: white;
    margin-top: 60px;
    width: 600px;
    height: 30px;
    margin-bottom: 60px;
}

.btnModificar:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.btnPerfil {
    background-color: #b34a12;
    color: white;
    margin-top: 60px;
    width: 100px;
    height: 50px;
    margin-bottom: 60px;
    position: relative;
    left: 90px;
}

.btnPerfil:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.btnInicio {
    background-color: #b34a12;
    color: white;
    margin-top: 60px;
    width: 100px;
    height: 50px;
    margin-bottom: 60px;
    position: relative;
    left: 90px;
}

.btnInicio:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.breadCrums {
    height: 50px;
    width: 100px;
    padding: 10px;
    margin: 20px;
    position: relative;
    bottom: 65px;
    right: 65px;
    font-size: 20px;
    cursor: pointer;
}

.breadCrums {
    background-color: #c93117;
    border-bottom: 3px solid #1e555d;
    transition: all 400ms ease-out;
    color: white;
}

.breadCrums:hover {
    background: #1e555d;
}

.breadCrumbs {
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: 120px;
    top: 80px;
}

#seccionAutores {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.carta {
    border: 2px solid black;
    width: 25%;
    height: 200px;
}

.carta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 4px solid black;
    width: 18%;
    height: 500px;
    margin: 50px;
}

.carta:hover {
    background-color: #b34a12;
    border: 6px solid black;
    width: 22%;
    height: 620;
}

#sct-cont-cartas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#sct-filtro {
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#txt-filtro {
    width: 200px;
    height: 30px;
}