#formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin: 28px;
    border: solid black 2px;
}

#resenaLibro {
    position: relative;
    right: 22px;
    width: 220px;
    height: 60px;
}

#detallesLibro {
    position: relative;
    right: 22px;
    width: 300px;
    height: 100px;
}

#tituloDelLibro {
    position: relative;
    right: 22px;
    width: 200px;
    height: 30px;
}

#insertImage {
    position: relative;
    right: 22px;
}

#nombreAutor {
    position: relative;
    right: 22px;
    width: 200px;
    height: 30px;
}

h1 {
    margin: 35px;
}

.inputError {
    border: solid red 3px;
}

.breadCrums {
    height: 50px;
    width: 100px;
    padding: 10px;
    margin: 20px;
    position: relative;
    bottom: 65px;
    right: 65px;
    font-size: 20px;
    cursor: pointer;
}

.breadCrums {
    background-color: #c93117;
    border-bottom: 3px solid #1e555d;
    transition: all 400ms ease-out;
    color: white;
}

.breadCrums:hover {
    background: #1e555d;
}

.breadCrumbs {
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: 120px;
    top: 80px;
}

#pie-de-pagina {
    background: solid #1e555d;
    border: solid black;
}