body {
    background-color: #fefbe2;
    color: #000;
}

.linkHeader {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 25px;
    height: 30px;
    color: #fff;
    text-decoration: none;
    font-size: 25px;
}

.linkHeader:hover {
    border-radius: 30%;
    background-color: #fefbe2;
    color: #000;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    background-color: #b34a12;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#carrito {
    height: 50px;
    width: 50px;
    position: relative;
    right: 90px;
}

#logo-nav {
    width: 12%;
    height: 90%;
    margin-left: 15px;
}

#search-nav {
    height: 25%;
    width: 35%;
}

#btn-libros {
    height: center;
    font-size: 20px;
    color: #000;
}

#btn-carrito {
    position: relative;
    right: 80px;
}

#img-carrito {
    background-color: #fff;
    width: 20px;
    height: 15px;
}

ul {
    display: flex;
    justify-content: space-between;
    position: relative;
    right: 75px;
}

ul li {
    list-style-type: none;
    padding: 30px;
}

.search {
    width: 35%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 3px solid #000;
    border-right: none;
    padding: 5px;
    height: 34px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.searchButton {
    width: 80px;
    height: 50px;
    border: 2px solid #000;
    color: #000;
    background-color: #fefbe2;
    font-size: 15px;
}

.searchButton:hover {
    background-color: #9e9d8c;
    cursor: pointer;
}

#pie-de-pagina {
    width: 100%;
    height: 120px;
    border: solid 2px black;
    position: relative;
    bottom: -100px;
    background-color: #113a41;
}

#logo-footer {
    width: 7%;
    height: 60%;
    margin-left: 15px;
}

#listaFooter li a {
    font-size: 15px;
    margin-left: 25px;
}

.btnNombre {
    color: #000;
}

.btnNombre:hover {
    color: blue;
}

.linkFooter {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 25px;
    height: 30px;
    color: #fff;
    text-decoration: none;
    font-size: 25px;
}

.linkFooter:hover {
    border-radius: 30%;
    background-color: #fefbe2;
    color: #000;
}

#sectionListaLibro {
    margin-top: 5%;
    align-items: center;
    text-align: center;
}

#tituloListaLibros {
    font-size: 35px;
    position: relative;
    bottom: 60px;
}

#tbListaLibro {
    border: solid 2px black;
    width: 100%;
}

#thLibro {
    color: black;
    background-color: transparent;
}

td {
    text-align: center;
    background-color: transparent;
}

.fotoLibro {
    width: 80px;
    height: 120px;
}

.pluma {
    width: 18px;
    height: 18px;
}

.breadCrums {
    height: 50px;
    width: 100px;
    padding: 10px;
    margin: 20px;
    position: relative;
    bottom: 80px;
    right: 1200px;
    font-size: 20px;
    cursor: pointer;
}

.breadCrums {
    background-color: #c93117;
    border-bottom: 3px solid #1e555d;
    transition: all 400ms ease-out;
    color: white;
}

.breadCrums:hover {
    background: #1e555d;
}

.breadCrums a {
    font-size: 12px;
}

#btnInicio {
    position: relative;
    top: 100px;
    left: 1600px;
}

.breadCrums {
    height: 50px;
    width: 100px;
    padding: 10px;
    margin: 20px;
    position: relative;
    bottom: 65px;
    right: 65px;
    font-size: 15px;
    cursor: pointer;
}

.breadCrums {
    background-color: #c93117;
    border-bottom: 3px solid #1e555d;
    transition: all 400ms ease-out;
    color: white;
}

.breadCrums:hover {
    background: #1e555d;
}

.breadCrumbs {
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: 1100px;
    top: -120px;
}

.carta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 4px solid black;
    width: 25%;
    height: 600px;
    margin: 50px;
}

.carta:hover {
    border: 4px solid #b34a12;
    width: 26%;
    height: 620;
}

#sct-contenedor-cartas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#sct-filtro {
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnComprar {
    width: 120px;
    height: 90px;
}