* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif, Geneva, Tahoma, sans-serif;
}

#sct-librosMasVendidos {
    display: flex;
    flex-direction: row;
}

#sct-izquierda {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
}

#sct-derecha {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
}

#sct-librosMasVendidos h2 {
    position: relative;
    left: 50px;
    margin-top: 50px;
    text-align: center;
    color: #b34a12;
    text-decoration: overline underline;
}

#sct-librosMasVendidos h1 {
    color: #b34a12;
}

.cont-general {
    display: flex;
    flex: row;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
}

.cont-infoIzquierda {
    border: 2px solid black;
    padding-top: 50px;
    padding-left: 110px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 410px;
}

.cont-infoIzquierda h3 {
    position: relative;
    right: 50px;
}

.cont-infoDerecha {
    text-align: center;
    border: 2px solid black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 80px;
}

.cont-infoDerecha h1 {
    font-size: 25px;
}

.cont-infoDerecha h3 {
    font-size: 15px;
}

.imgLibros {
    width: 150px;
    height: 250px;
}

.btnModificar {
    position: relative;
    left: 600px;
    background-color: #b34a12;
    color: white;
    margin-top: 60px;
    width: 600px;
    height: 30px;
    margin-bottom: 60px;
}

.btnModificar:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.cont-titulo {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cont-titulo h1 {
    color: #b34a12;
    position: relative;
    left: 750px;
    top: 45px;
}

.btnPerfil {
    background-color: #b34a12;
    color: white;
    margin-top: 60px;
    width: 100px;
    height: 50px;
    margin-bottom: 60px;
    position: relative;
    left: 90px;
}

.btnPerfil:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.btnInicio {
    background-color: #b34a12;
    color: white;
    margin-top: 60px;
    width: 100px;
    height: 50px;
    margin-bottom: 60px;
    position: relative;
    left: 90px;
}

.btnInicio:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.breadCrums {
    height: 50px;
    width: 100px;
    padding: 10px;
    margin: 20px;
    position: relative;
    bottom: 65px;
    right: 65px;
    font-size: 20px;
    cursor: pointer;
}

.breadCrums {
    background-color: #c93117;
    border-bottom: 3px solid #1e555d;
    transition: all 400ms ease-out;
    color: white;
}

.breadCrums:hover {
    background: #1e555d;
}

.breadCrumbs {
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: 120px;
    top: 80px;
}